@media only screen and (max-device-width: 767px) {
  .small-box h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
}

@media only screen and (max-device-width: 1440px) {
  .small-box h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
}